*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    background: #302C42;
}
section{
    background: #302C42;
}
footer{
    background: #302C42;
}
.imgs{
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.list_item{
    font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
}
.list{
    display: flex;
    gap: 42px;
    margin-top: 94px;
}
.df8{
    display: flex;
    margin-top: 75px;
}
.card-4 .btn1 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    background: transparent;
    padding: 16px 36px;
    margin-top: 30px;
}
.btn1 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    background: transparent;
    padding: 16px 36px;
    margin-top: 0;
}
.im{
    display: flex;
    align-items: center;
}
.h11{
    margin-top: 145px;
    font-weight: 700;
font-size: 100px;
line-height: 49px;

color: #FFFFFF;

}
.al{
    font-weight: 700;
    font-size: 44px;
line-height: 56px;
/* identical to box height */


background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.lor1{
    margin-top: 36px;
    font-weight: 400;
font-size: 21px;
line-height: 20px;

color: #FFFFFF;
margin-bottom: 66px;
}
.qiz{
    margin-top: 110px;
    width: 100%;
}
.card1 {
    margin-top: 100px;
    border-radius: 90px;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 53px;
    padding-right: 80px;
    padding-left: 53px;
    display: flex;
}
.df1{
    display: flex;
    width: 33.333%;
}
.street{
    font-weight: 700;
font-size: 24px;
line-height: 29px;
margin-left: 14px;
color: #FFFFFF;

}
.txt{
    font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
margin-left: 14px;

color: #FFFFFF;
}
.h12{
    margin-bottom: 10px;
    margin-top: 94px;
    font-weight: 700;
font-size: 50px;
line-height: 49px;

color: #FFFFFF;
}
.comp{
    margin-left: 20px;
}
.lor2{
    font-weight: 400;
font-size: 17px;
line-height: 20px;

color: #FFFFFF;
margin-top: 90px;

}
.bol{
    margin-top: 200px;
}
.h21{
    font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #FFFFFF;
margin-top: 151px;
}
.h22{
    font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */


color: #FFFFFF;
}
.lor3{
    font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;
margin-top: 42px;
margin-bottom: 28px;
}
.sec1{
    padding-bottom: 111px;
}
.card2{
    margin-bottom: 114px;
    margin-top: 100px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
border-radius: 40px;
padding-top: 32px;
height: 511px;
}
.sila{
    font-weight: 700;
font-size: 24px;
line-height: 29px;
margin-top: 34px;
color: #FFFFFF;

}
.txt3{
    font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;
text-align: start;
margin-left: 25px;
margin-top: 39px;
}
.btn2{
    font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 40px;
background: transparent;
padding: 16px 36px;
margin-top: 35px;

}
.btn2:hover{
    background: linear-gradient(90deg,#8176AF  0%, #C0B7E8 100%);
    color: #343045;
}
.card3{
    background: url(./img/Mask\ group\ \(16\).png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 20px;
height: 303px;
}
.lik{
    margin-top: 60px;
    margin-bottom: 84px;
}
.lik1{
    margin-top: 100px;
}
.card-4{
    margin-top: 90px;
    text-align: center;
    height: 1008px;
    padding-top: 90px; 
    padding-left: 107px;
    padding-right: 107px;

background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;
}
form{
    width: 100%;
    margin-top: 65px;
}
.inp1{
    outline: none;
    width: 50%;
    height: 72px;
    padding-left: 42px;
    font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;
background: transparent;

border: 2px solid #FFFFFF;
border-radius: 40px;
}
.inp2{
    outline: none;
    width: 100%;
    height: 72px;
    padding-left: 42px;
    font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;
background: transparent;

border: 2px solid #FFFFFF;
border-radius: 40px;
}
.df0{
    display: flex;
    margin-bottom: 39px;
    gap: 10px;
}
.inp3{
    margin-top: 33px;
height: 210px;
outline: none;
text-align: start;
    width: 100%;
    padding-left: 42px;
    font-weight: 400;
    padding-top: 27px;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;
background: transparent;

border: 2px solid #FFFFFF;
border-radius: 40px;
}
.sec3{
    padding-bottom: 90px;
}
.logo2{
    width: 60%;
    margin-bottom: 80px;
}
.lol{
    font-weight: 700;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;

}
.df9{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.say{
    font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.13em;

color: #FFFFFF;
text-align: center;
margin-bottom: 60px;
margin-top: 50px;
}
@media screen and (max-width: 575px) {
    .logo{
        width: 50%;
    }
    .log-txt{
        width: 50%;
    }
    .btn1 {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        background: transparent;
        padding: 16px 36px;
        margin-top: 55px;
    }
    .h11 {
        margin-top: 50px;
        font-weight: 700;
        font-size: 32px;
        line-height: 49px;
        color: #FFFFFF;
    }
    .lor1 {
        margin-top: 36px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    .btn1 {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        background: transparent;
        padding: 16px 36px;
        margin-top: 30px;
        margin-left: 70px;
    }
    .card1 {
        margin-top: 50px;
        background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
        border-radius: 90px;
        width: 100%;
        padding-bottom: 50px;
        padding-top: 50px;
        padding-right: 0;
        padding-left: 20px;
        display: grid;
    }
    .df1 {
        margin-top: 20px;
        display: flex;
        width: 100%;
    }
    .h12 {
        margin-bottom: 10px;
        margin-top: 94px;
        font-weight: 700;
        font-size: 32px;
        line-height: 49px;
        color: #FFFFFF;
    }
    .lor2 {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 40px;
    }
    .bol {
        margin-top: 50px;
        width: 100%;
    }
    .al {
        font-weight: 700;
        font-size: 32px;
        line-height: 56px;
        background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .h21 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        margin-top: 50px;
    }
    .lor3 {
        font-weight: 400;
        font-size: 11px;
        line-height: 20px;
        color: #FFFFFF;
        margin-top: 30px;
        margin-bottom: 28px;
    }
    .sec1 {
        padding-bottom: 50px;
    }
    .h12 {
        margin-bottom: 10px;
        margin-top: 40px;
        font-weight: 700;
        font-size: 32px;
        line-height: 49px;
        color: #FFFFFF;
    }
    .card2 {
        margin-bottom: 50px;
        margin-top: 50px;
        background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
        border-radius: 40px;
        padding-top: 32px;
        height: 511px;
    }   
    .card3 {
        background: url(./img/Mask\ group\ \(17\).png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
        height: 163px;
    }
    .lik {
        margin-top: 0;
        margin-bottom: 0;
    }
    .lik1 {
        margin-top: 50px;
    }
    .card-4 {
        height: 1008px;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
    }
    .df0 {
        display: grid;
        margin-bottom: 0;
        gap: 10px;
    }    
    .dfem2{
        margin-left: -70px;
    }
    .inp1 {
        outline: none;
        width: 100%;
        height: 72px;
        padding-left: 42px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        background: transparent;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
    }
    .lol {
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
    .logo2 {
        width: 60%;
        margin-bottom: 20px;
    }
    .lol {
        margin-top: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }
    .df9 {
        margin-left: 22px;
        margin-top: 40px;
        display: flex;
        gap: 20px;
    }
    .df8 .btn1 {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        background: transparent;
        padding: 16px 36px;
        margin-top: 30px;
        margin-left: 0;
    }
    .df8 {
        display: flex;
        margin-top: 20px;
    }
}